body {
    margin: 0;
    background-color: #141414;
    font-family: 'Roboto', sans-serif;
    color: #fff;
  }
  .encabezado {
    background-color: #111;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: red;
  }
  .catalogo h2 {
    margin: 20px;
    font-weight: 500;
  }
  .grid-peliculas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 0 20px 40px;
  }
  .grid-peliculas img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .grid-peliculas img:hover {
    transform: scale(1.1);
    border: white 1px solid;
  }
  
